<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>PrivateWE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>

  <body>
    <!-- Client View -->
    <% if (user.role === "client") { %>
      <section class="client-profile" >
        <h2 class="dashboard-title">Welcome back, to your dashboard <%= user.firstName %>!</h2>

        <section class="entrySection">
          <form class="clientForm" action="/journalEntries" method="POST">
            <label>Create Journal Entry</label>
            <textarea class="form-control" name="journal" rows="15" cols="60" maxlength="6000" wrap="hard" autocomplete="off" spellcheck="true"></textarea>
            <button  class="btn btn-default  form-control" type="submit" name="button">Submit Journal Entry</button>
          </form>
        </section>
        <section class="logout">
          <a href="/logout" class="btn btn-default">Logout</a>
        </section>
      </section>
      <% } %>
      <!-- Therapist View -->
      <% if (user.role === "therapist") { %>
        <section class="therapist-profile">
          <h2 class="dashboard-title">Welcome back, to your dashboard <%= user.firstName %>!</h2>
          <!-- placeholder -->
          <section class="journalContainer">
            <section class="journals">
              <% for(let i= 0; i<entries.length;i++) {%>
              <li><span><%= entries[i].firstName %></span>
              <span><%= entries[i].lastName %></span>
            </li>
              <span><%= entries[i].journal %></span>

              <p>This is what it should look like one I get that darn for loop and get route figured out. And then here the therapist will be able to view their client's journal.</p>
              <p>I got the post route down pact but I can't get the get route right just yet.</p>
              <p>A for loop will iterate through collection "journalEntries" here and show the results of the following data: journalEntries[i].firstName, journalEntries[i].lastName, journalEntries[i].journal</p>
              <p>This is just a placeholder!</p>
            </section>
            <% } %>
          </section>
          </ul>
          <section class="logout">
            <a href="/logout" class="btn btn-default">Logout</a>
          </section>
        </section>
      <% } %>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  </body>
</html>
