<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>PrivateWE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>

  <body>
    <!-- Client View -->
    <% if (user.role === "client") { %>
      <section class="client-profile" >
        <h2 class="page-title">Welcome back to your dashboard, <%= user.firstName %>!</h2>

        <section class="entrySection">
          <form class="clientForm" action="/journalEntries" method="POST">
            <label>Create Journal Entry</label>
            <textarea class="form-control" name="journal" rows="15" cols="60" maxlength="6000" wrap="hard" autocomplete="off" spellcheck="true"></textarea>
            <button  class="btn btn-default  form-control" type="submit" name="button">Submit Journal Entry</button>
          </form>
        </section>
        <section class="logout">
          <a href="/logout" class="btn btn-default">Logout</a>
        </section>
      </section>
      <% } %>
      <!-- Therapist View -->
      <% if (user.role === "therapist") { %>
        <section class="therapist-profile">
          <h2 class="dashboard-title">Welcome back, to your dashboard <%= user.firstName %>!</h2>
          <!-- placeholder -->
          <section class="journalContainer">
            <% for(let i= 0; i<entries.length;i++) {%>
              <section class="journals">
                <span class="name"><%= entries[i].firstName %></span>
                <span class="name"><%= entries[i].lastName %></span>
                <span id="postDate"><%= entries[i].entryDate %></span>
                <p><%= entries[i].journal %></p>
              </section>
            <% } %>
          </section>
          <section class="logout">
            <a href="/logout" class="btn btn-default">Logout</a>
          </section>
        </section>
      <% } %>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  </body>
</html>
