<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>PrivateWE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>

  <body>
    <!-- NAV BAR -->
    <header>
      <span id="page-title">Welcome, <%= user.firstName %>! </span>
      <nav>
        <ul>
          <li>
            <a class="navItem" href="/" title="return to landing page">privateWE</a></h3>
          </li>
          <li>
            <a class="navItem" href="/logout" title="log out">Logout</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Client View -->
    <% if (user.role === "client") { %>
      <section class="client-profile container" >
        <section class="entrySection">
          <form class="clientForm" action="/journalEntries" method="POST">
            <label>Create Journal Entry</label>
            <textarea class="form-control" name="journal" rows="15" cols="60" maxlength="6000" wrap="hard" autocomplete="off" spellcheck="true"></textarea>
            <button  class="btn btn-default  form-control" type="submit" name="button">Submit Journal Entry</button>
          </form>
        </section>
      </section>
      <% } %>
      <!-- Therapist View -->
      <% if (user.role === "therapist") { %>
        <section class="therapist-profile  container">
          <section class="journalContainer">
            <% for(let i= entries.length-1; i>=0;i--) {%>
              <section class="journalsHeader">
                <p id="entry-owner-name"><span class="name"><%= entries[i].firstName %></span>
                <span class="name"><%= entries[i].lastName %></span></p>
                <p id="postDate"><span><%= entries[i].entryDate %></span></p>
              </section>
              <section class="journals">
                <p id="entries"><%= entries[i].journal %></p>
              </section>
            <% } %>
          </section>
        </section>
      <% } %>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
  </body>
</html>
